<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>OTTO Dash</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <style>
        .productlist, .list-group {
            display: grid !important;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1em;
        }

        .productlist, .list-group-item {
            padding: 1em;
            text-align: center;
        }
    </style>
</head>
<body>

<div class="container-fluid my-sm-5 px-5">
    <!--@thymesVar id="ecuuid" type="java.lang.String"-->
    <!--@thymesVar id="variations" type="java.util.List<de.otto.dash.product.ProductModel$Variation>"-->

    <h1>OTTO Dash</h1>

    <ul class="productlist list-group list-group-horizontal-sm text-center">
        <li th:each="variation: ${variations}"
            class="p-0 m-1 list-group-item flex-fill">
            <a th:name="${variation.id}">
            <form class="card text-center"
                  method="post"
                  action="#"
                  th:action="@{/placeOrder(ecuuid=${ecuuid},variationId=${variation.id})}">
                <img th:with="imageUri=(${variation.embedded.images?.mainImageUri} ?: 'https://i.otto.de/i/otto/lh_platzhalter_ohne_abbildung')"
                     th:src="@{${imageUri}('$formatz$')}"
                     th:alt="${variation.name}"
                     width="200" class="card-img-top img-thumbnail p-0 m-0"/>
                <div class="card-body">
                    <h5 class="card-title" th:text="${variation.name}">variation.name</h5>
                    <ul class="card-text text-start">
                        <li th:each="sellingPoint: ${variation.sellingPoints}" th:text="${sellingPoint}">selling point</li>
                    </ul>
                </div>
                <button type="submit" class="btn btn-primary"
                        th:text="'Buy for ' + ${variation.pricing().formattedPrice}">
                    Buy for 99,99 €
                </button>
            </form>
            </a>
        </li>
    </ul>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
